{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blogs</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>

<!-- Header -->
<body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="blog-header-logo text-dark" href="/">Django Blog</a>
          </div>
          <div class="col-4">
            <form class="form-inline justify-content-center" action='{% url "blog_app:search" %}' method='GET'>
              <input class="form-control w-75" type="search" placeholder="Search" aria-label="Search" name='keyword' value="{{searched_term}}">
              <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">Search</button>
            </form>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            {% if user.is_authenticated %}
            <span style="padding-left:5px">Logged in as {{user.username}}</span>
            <a class="btn btn-sm btn-warning" href='{% url "blog_app:logout" %}'>Logout</a> &nbsp;
            {% else %}
            <a class="btn btn-sm btn-warning" href='{% url "blog_app:login" %}'>Login</a> &nbsp;
            {% endif %}
            <a class="btn btn-sm btn-outline-secondary" href='{% url "blog_app:register" %}'>Register</a>
          </div>
        </div>
      </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for category in categories %}
          <a class="p-2 text-muted" href="{% url "blog_app:posts_by_category" pk=category.id %}">{{category.category_name}}</a>
          {% endfor %}
        </nav>
    </div>

<!-- Main Body -->

{% block body %}{% endblock body %}

<!-- Footer -->
<footer class="blog-footer">
  <p>Django blog built with ❤ by <a href="#">Rathan Kumar</a></p>
</footer>
</body>
</html>