{% extends "base.html" %}
{% load static %}

{% block body %}
  <!--Blog Posts-->
  <h3 class='text-warning text-uppercase' style='letter-spacing: 2px'>Category - {{category}}</h3>
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
        {% if posts %}
        {% for post in posts %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{post.title}}</h2>
          <p class="blog-post-meta">{{post.created_at | timesince}} by <a href="#">{{post.author}}</a></p>

          <p>{{post.short_description | truncatewords:30}}</p>

          <a href='{% url "blog_app:blog_detail" slug=post.slug %}'>Continue reading...</a>
         
        </div>
        {% endfor %}
        <!-- /.blog-post -->
        {% else %}
        <h3 class='text-warning text-uppercase' style='letter-spacing: 2px'>No Posts In This Category Yet!</h3>
        {% endif %}

      </div>

{% endblock body %}
