{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="row">
    {% include "partials/right-sidebar-partial.html" %}

    <!-- Left Side Content -->
    <div class='col-md-9'>
        <h2 class="text-center">Edit Category</h2>
        <form style="width: 500px; margin: auto;" method="POST" action='{% url "edit-category" category.id %}'>
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-success" type="submit">Edit</button>
        </form>
    </div>
</div>

{% endblock body %}